*.o
*.RData
*.Rhistory
*.png
*.a
CMakeFiles/*
CMakeFiles
CMakeCache.txt
cmake_install.cmake
gpu_match
GPU_Array_Matching_v2/Makefile
TODO
sample_kernels/compute/nvJPEG/nvJPEG
sample_kernels/compute/cuSolverDn_LinearSolver/cuSolverDn_LinearSolver
sample_kernels/hybrid/simpleCUFFT/simpleCUFFT
sample_kernels/compute/simpleCUBLAS/simpleCUBLAS
sample_kernels/compute/simpleCUBLAS_LU/simpleCUBLAS_LU
sample_kernels/bin/*
sample_kernels/hybrid/finite-difference/finite-difference
sample_kernels/memory/transpose/transpose
sample_kernels/memory/coalescing-global/coalescing
sample_kernels/memory/word_count/c++11_cuda
